#content{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    grid-auto-columns: auto;
    text-align: center;
    row-gap: 1vh;
}

#speedC{
    border: none;
    text-decoration: none;
    text-align: center;
}
