@font-face {
    font-family: Anton;
    src: url(fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: bebasNeue;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: Alexandria;
    src: url(fonts/Alexandria-VariableFont_wght.ttf);
}
