<!doctype html>
<html>
  <head>
    <title>API admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
  </head>
  <body style="display: grid; justify-content: center; text-align: center;">
  <a href="/api" id="back">Back</a>
    <div id="content">
      <h1>admin links</h1>
      <div id="buttons">
        {% for admin in admin_links %}
          <a href="/api/admin/{{admin}}">{{ admin }}</a>
        {% endfor %}
      </div>
      <article>all the links returns a json object with a key and value pair<br>
          An example would be stop_reason which returns the value of stop_reason<br>
          From the opc ua Servers</article>
      <figure>
        <figcaption>Javascript code example using fetch api:</figcaption>
        <pre>
          <code id="Code" contenteditable spellcheck="false">
            fetch('http://localhost:5000/api/admin/stop_reason', {
                method: 'GET'
              })
              .then(response => response.json())
              .then(data => {
                  // do something with the data here
              })
              .catch(error => {
                  // handle any errors here
            });
          </code>
        </pre>
      </figure>
      </div>
    </div>
  </body>
</html>