<!doctype html>
<html>
  <head>
    <title>API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
  </head>
  <body style="display: grid; justify-content: center; text-align: center;">
    <div id="content">
      <h1>rest API</h1>
      <div id="buttons">
          <a href="/api/inventory">Inventory G</a>
          <a href="/api/brew">brew S</a>
          <a href="/api/batch">batch G</a>
          <a href="/api/machine">machine S</a>
          <a href="/api/admin">Admin G</a>
          <a href="/api/howTo">How to use this api</a>
      </div>
      <article>This rest api has been made<br>
          to communicate with an opc ua Server<br>
          as part of a semester Project<br><br>
          SDU @2022-2023<br>
          Group 6<br>
          //Nick
      </article>
      </div>
    </div>
  </body>
</html>