<!doctype html>
<html>
  <head>
    <title>API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
  </head>
  <body style="display: grid; justify-content: center; text-align: center;">
    <div id="content">
      <h1>rest API</h1>
      <div id="buttons">
          <a href="/api/read">read</a>
          <a href="/api/brew">brew</a>
          <a href="/api/write">write</a>
      </div>
      <article>This rest api has been made<br>
          to communicate with an opc ua Server<br>
          as part of a personal learning<br>
          project<br><br>
          //Nick
      </article>
      </div>
    </div>
  </body>
</html>