<!doctype html>
<html>
  <head>
    <title>API batch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
  </head>
  <body style="display: grid; justify-content: center; text-align: center;">
  <a href="/api" id="back">Back</a>
    <div id="content">
      <h1>batch links</h1>
      <div id="buttons">
        {% for batchSHH in BATCHINFO %}
          <a href="/api/batch/{{batchSHH}}">{{ batchSHH }}</a>
        {% endfor %}
        <a href="/api/batch/all">all</a>
      </div>
      <article>all the links returns a json object with a key and value pair<br>
          An example would be Barley which returns the value of barley<br>
          From the opc ua Server<br><br>
          The only exemption is "all" which returns all the different values</article>
      <figure>
        <figcaption>Javascript code example using fetch api:</figcaption>
        <pre>
          <code id="Code" contenteditable spellcheck="false">
            fetch('http://localhost:5000/api/inventory/all', {
                method: 'GET'
              })
              .then(response => response.json())
              .then(data => {
                  // do something with the data here
              })
              .catch(error => {
                  // handle any errors here
            });
          </code>
        </pre>
      </figure>
      </div>
    </div>
  </body>
</html>