<!doctype html>
<html>
  <head>
    <title>API how to</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
  </head>
  <body style="display: grid; justify-content: center; text-align: center;">
  <a href="/api" id="back">Back</a>
    <div id="content">
      <h1>How to use this api</h1>
      <article>
        The ip can either be changed when asked in the prompt after starting the app.py<br>
        or it can be changed in the 'opcua_client.py' file.<br><br>
        The server can be launched in Terminal by running The command<br>
        'flask run'<br>
        from the flask rest api directory<br><br>
        By going to <a href="/api">/api</a> you will be able to see<br>
        the different api sub-sites and an explanation on how to use said sub-site<br>
        i.e get / post methodes<br>
        return types and expected types<br><br>
        When looking at <a href="/api">/api</a> you may be able to spot 'G' / 'S'<br>
        'G' means the sub-site only have getters were 'S' means the sub-site has Setters<br><br><br>
        SDU @2022-2023<br>
          Group 6<br>
          //Nick
      </article>
      </div>
    </div>
  </body>
</html>