<!doctype html>
<html>
  <head>
    <title>API Could not connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
  </head>
  <body style="display: grid; justify-content: center; text-align: center;">
    <div id="content">
      <h1>Could not Connect to OPC UA server</h1>
      <p>There Was a problem connecting to the opc UA server</p>
      <ul>
        <li>Check if opc UA server is running</li>
        <li>Check if the correct ip is being used to connect to opc UA server</li>
      </ul>
      <article>
          <br><br><br>
        SDU @2022-2023<br>
          Group 6<br>
          //Nick
        <br><br><br>
      </article>
        <form action="" method="POST">
          <button type="submit">Try to Connect</button>
        </form>
      </div>
    </div>
  </body>
</html>