<!doctype html>
<html>
  <head>
    <title>API read {{subdomain}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
  </head>
  <body style="display: grid; justify-content: center; text-align: center;">
  <a href="/api" id="back">Back</a>
    <div id="content">
      <h1>{{subdomain}} links</h1>
      <div id="buttons">
        {% for item in items %}
          <a href="{{subdomain}}/{{item}}">{{ item }}</a>
        {% endfor %}
      </div>
      <article>all the links returns a json object with a key and value pair<br>
          An example would be {{example}} which returns the value of {{example}}<br>
          From the opc ua Servers</article>
      <figure>
        <figcaption>Javascript code example using fetch api:</figcaption>
        <pre>
          <code id="Code" contenteditable spellcheck="false">
  fetch('http://localhost:5000{{subdomain}}/{{example}}', {
      method: 'GET'
    })
    .then(response => response.json())
    .then(data => {
      // do something with the data here
    })
    catch(error => {
      // handle any errors here
    });
          </code>
        </pre>
      </figure>
      </div>
    </div>
  </body>
</html>